


.non-rounded-top {
    border-top-right-radius: unset;
    border-top-left-radius: unset;
}

.non-rounded-bottom {
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
}

.non-rounded-right {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.non-rounded-left {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}

.fixed-width-span-200-px {
  display: inline-block;
  width: 200px;
}

.fixed-width-span-150-px {
  display: inline-block;
  width: 150px;
}

.fixed-width-span-100-px {
  display: inline-block;
  width: 100px;
}

.year-list-item {
    min-width: 160px;
    max-width: 160px;
}

.muted-event-child {
   pointer-events: none
}
.bigger-switch {
    transform: scale(1.3);
}

input[type=range] {
    border: 1px solid white;
    outline: 2px solid white;
    outline-offset: -1px;
}

.hidden {
    display: none
}
